# voiceflow environment runtime endpoint
VF_RUNTIME_ENDPOINT = 'https://general-runtime.voiceflow.com'
# Your project DM API key from voiceflow
VF_DM_API_KEY = 'YOUR_API_KEY' 

# Your Lex bot name
LEX_BOT_NAME = 'YOUR_LEX_BOT_NAME'
# Your Lex bot alias
LEX_BOT_ALIAS = 'YOUR_LEX_BOT_ALIAS' 